body{
  background-image: linear-gradient(40deg, lightgrey 10%, #f0f0f0 100%);
}

#home-img {
  background-image:url("../images/sofa.svg");
  background-repeat:no-repeat;
  position: relative;
  width: 600px;
  height: 300px;
  margin-left: 45%;
  margin-top: 300px;
}

#home-txt {
  font-family: 'Raleway',sans-serif;
  font-size: 50px;
  position: relative;
  right: 65%;
  width: 300px;
  color: #424242;
}

#home-start {
  background-color: transparent;
  border-color: #424242;
  border-width: 1px;
  position: inherit;
  font-size: 24px;
  right:50%;
}

.container-fluid {
    background-color: #f6d5d5;
    height: 60px;
}

span.titleAndSub {
    margin-left: 9px;
}

#title {
  background-image: -webkit-linear-gradient(bottom, #ff8b8b, #f6d5d5);
  color:transparent;
  -webkit-background-clip: text;
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

#add-model {
  font-family: 'Lora', serif;
  font-size: 18px;
  color: #f0f0f0;
}

#add-model:hover {
  background-color: transparent;
  color: #f6d5d5;
  text-decoration: none;
}

#sub {
  font-family: 'Lora', serif;
  font-size: 18px;
  color: darkgrey;
  font-style: italic;
  padding-left: 18px;
}

#sub:hover {
  text-decoration: none;
  font-style: normal;
}

.navbar-header {
    width: 100%;
}

.navbar-brand {
    width: 100%;
    height: 60px;
    padding: 10px;
    line-height: 35px;
    background-color: transparent;
}

.sofa-logo {
    float: right;
    transition:all 1s ease;
}

.title-wrapper {
    background-color: rgba(255,255,255,0.2);
    padding: 0 15px;
}

h4.inline {
    margin-left: 10px;
}

span.title {
    margin: 0 40px;
}

h4.sidebar-title {
    text-align: left;
    font-size: 24px;
    font-family: 'Lora', serif;
    color: #f0f0f0;
    color: darkgrey;
}

h5.sidebar-title {
    text-align: left;
    padding-top: 10px;
    font-size: 18px;
    font-family: 'Lora', serif;
    color: #f0f0f0;
}

.project-title-wrapper {
    height: 64px;
}

.models-glyph-plus {
    margin-left: 10px;
}

span.glyphicon.glyphicon-pencil.inline {
    margin-left: 10px;
    color: darkgrey;
}

span.glyphicon.glyphicon-pencil:hover {
    color: #ff9e9e;
}

.btn-default {
    background-color: transparent;
    border-color: #f0f0f0;
    border-width: 1px;
}

#menu-toggle {
    color: #f0f0f0;
    padding:10px;
    text-decoration: none !important;
}

#menu-toggle:hover, #menu-toggle:active {
    color: #ff9e9e !important;
    text-decoration: none !important;
    transition: 0.5s;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transform: rotateZ(-90deg);
    -ms-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
}


a, .btn-text {
  color: grey;
}

a:hover, , .btn-text:hover {
  color: #ff9e9e;
  text-decoration: none;
}

.model-form-btn {
    margin: 3px;
}

.attr-trash {
  margin-top: 11px;
}

span.glyphicon.glyphicon-question-sign {
    margin-left: 6px;
}

.glyphicon {
    color: #ff9e9e;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.form-control {
    border-radius: 0px;
}

div.jsoneditor-menu {
    background-color: #e3e3e3 !important;
    border-bottom: 1px solid #e3e3e3 !important;
}

div.jsoneditor {
    color: #1a1a1a;
    border: 1px solid #e3e3e3 !important;
    background-color: #f5f5f5 !important;
    height: 300px !important;
}

div#JSviewer {
    min-height: 300px;
}

.model-form {
    min-height: 300px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 20px;
}


.inline {
    display: inline-block;
}


input.form-control.inline.project-name {
    width: 80%;
    margin-right: 10px;
}

.models-list-icon {
    margin-left: 10px;
    color: red;
}

/* sidebar styles */
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  top: 61px;
  left: 250px;
  width: 250px;
  background: #424242;
  position: fixed;
  height: calc(100% - 61px);
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

.sidebar-wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
  padding-left: 60px;
}

.sidebar-nav li a span:before {
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

input.form-control.inline.project-name {
    display: inline;
    width:  88%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-detail {
    margin: 0 10px;
}

.models h4.sidebar-title {
    text-decoration: underline;
}

.sidebar-models-list {
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.model-item {
    color: #f0f0f0;
    font-size: 18px;
    font-family: 'Lora', serif;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.model-item h5 {
  cursor: pointer;
}

.model-item-container {
  display: flex;
}

.model-item-icon-arrow {
  width: 40px;
}

.model-item-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.models-link {
    color: #999999;
    display: block;
    text-decoration: none;
}

.models-trash {
    color: darkgrey;
}

.models-trash:hover, .attr-trash:hover {
  color: red;
  cursor: pointer;
}

.models-link:hover, li.models-link:hover, li.models-link a:hover {
  text-decoration: none;
  color: #fff !important;
}

li.models-link:hover {
  background: rgba(255,255,255,0.2);
  color: #fff !important;
  text-decoration: none;
  box-shadow: inset 0 0 0 1px lightgrey;
}

hr.custom-hr {
    border-top: 1px dotted darkgrey;
    margin: 0 40px;
    clear: both;
}

/* custom tooltip */
.custom-tooltip {
  background-color: rgba(66,66,66,0.8) !important;
}

/* custom btn */
.btn-custom-1 {
    background-color: transparent;
}

.btn-custom-1:hover {
    background-color: transparent;
    color: #ff9e9e !important;
}

.btn-custom-2 {
    background-color: transparent;
    border-radius: 0;
    border: 1px solid lightgrey;
}

.btn-custom-2:hover {
    background-color: transparent;
    color: #ff9e9e !important;
}

.btn-custom-3 {
    background-color: lightgrey;
    border-radius: 0px;
    border-color: darkgrey;
}

.btn-custom-3:hover {
  background-color: lightgrey;
  color:#ff9e9e !important;
}

.btn-download {
  color: darkgrey;
  margin: 15px auto;
  width: 170px;
  color: lightgray;
}

.glyphicon {
    color: #ff9e9e;
}

.glyphicon:hover {
  color: #ffd1d1;
  cursor: pointer;
}

.model-item:active {
    background-color: rgba(255,255,255,0.2);
}

.page-content-wrapper {
    margin-top: 51px;
}



/* bubble test */
.speech-bubble {
    background: white;
    border-radius: .4em;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 21px;
    background: white;
    border-radius: .4em;
    position: absolute;
    width: 480px;
    height: 159px;
    margin-left: 36%;
    margin-top: -199px;
}

.speech-bubble:after {
  transition: 2s ease;
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 24px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  border-left: 0;
  margin-left: -12px;
  margin-bottom: -24px;
}


h2 {
    font-family: 'Raleway',sans-serif;
}

@media (max-width:767px) {
    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

    #menu-toggle {
      display: inline-block;
    }
}
