body {
  font-family: 'Helvetica';
  color: #999999;
}


a, .btn-text {
  color: grey;
}

a:hover, , .btn-text:hover {
  color: #ff9e9e;
  text-decoration: none;
}




.model-form-btn {
    margin: 3px;
}

span.glyphicon.glyphicon-question-sign {
    margin-left: 6px;
}

.form-control {
    border-radius: 0px;
}

div.jsoneditor-menu {
    background-color: #e3e3e3 !important;
    border-bottom: 1px solid #e3e3e3 !important;
}

div.jsoneditor {
    color: #1a1a1a;
    border: 1px solid #e3e3e3 !important;
    background-color: #f5f5f5 !important;
    height: 300px !important;
}

div#JSviewer {
    min-height: 300px;
}

.model-form {
    min-height: 300px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    padding: 20px;
}


.inline {
    display: inline-block;
}

h4.inline {
    margin-right: 10px;
}

input.form-control.inline.project-name {
    width: 80%;
    margin-right: 10px;
}

.models-list-icon {
    margin-left: 10px;
    color: red;
}


/* sidebar styles */
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  top: 51px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  /*position: absolute;*/
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
  padding-left: 60px;
}

.sidebar-nav li a span:before {
  /*position: absolute;*/
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
    text-decoration: none;
    float: left;
    color: #fff;
    padding-right: 15px;
}

@media (max-width:767px) {
    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

    #menu-toggle {
      display: inline-block;
    }
}

/*sidebar styles */
.project-name {
  text-align: center;
}

input.form-control.inline.project-name {
    display: inline;
    width:  88%;
}

.project-detail {
    margin: 0 10px;
}

.models {
    margin: 44px 0;
}

.models h4.sidebar-title {
    text-decoration: underline;
}

.sidebar-models-list {
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.model-item {
    text-align: center;
}

.models-link {
    color: #999999;
    display: block;
    text-decoration: none;
}

span.models-glyphicon {
    margin-left: 10px;
}

.models-link:hover, li.models-link:hover, li.models-link a:hover {
  text-decoration: none;
  color: #fff !important;
}

li.models-link:hover {
  background: rgba(255,255,255,0.2);
  color: #fff !important;
  text-decoration: none;
}

h4.sidebar-title {
    text-align: center;
}

hr.custom-hr {
    border-top: 1px dotted darkgrey;
    margin: 0 15px;
}

/* custom btn */
.btn-custom-1 {
    background-color: transparent;
}

.btn-custom-1:hover {
    background-color: transparent;
    color: #ff9e9e !important;
}

.glyphicon {
    color: #ff9e9e;
}

.glyphicon:hover {
  color: #ffd1d1;
  cursor: pointer;
}




.page-content-wrapper {
    margin-top: 51px;
}
